
        <div id="page-wrapper">
          <div class="row">
            <div class="col-lg-12">
              <h1 class="page-header">Add Student </h1>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="panel panel-default">
                <div class="panel-heading" style="height:47px; " >
                  <a href='manage-student'><button class="btn btn-primary pull-right">Back</button></a>
                </div>
                <div class="panel-body" >
                  <div class="form-group">
                        
                      <form  method="post" action="" name="frmcsp" id="frmcsp" enctype="multipart/form-data">
                        <div class="card-body margin-top">
                          <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-2 col-form-label">First Name</label>
                            <div class="col-sm-4">
                              <?php if(!empty($_GET['editid'])) { ?> <input class="form-control" name="first_name" id="first_name" type="text" value="<?php if(!empty($_GET['editid'])){ echo $result_user['first_name']; }?>" required>
                              <?php } else { ?>
                              <input class="form-control" name="first_name" id="first_name" type="text" required>
                              <?php } ?>
                            </div>
                            <label for="inputEmail3" class="col-sm-2 col-form-label">Last Name</label>
                            <div class="col-sm-4">
                              <input class="form-control" name="last_name" id="last_name" type="text" value="<?php if(!empty($_GET['editid'])){ echo $result_user['last_name']; }?>" required>
                            </div>
                          </div>
						              <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-2 col-form-label">Batch</label>
                            <div class="col-sm-4">
                              <select class="form-control" name="batch" id="batch">
                                <option value="">-- Select Batch --</option>
                                <option value="2010-2014" <?php if(isset($result_user['batch'])) { echo ($result_user['batch'] == '2010-2014') ? "selected" : "";} ?> >2010-2014</option>
                                <option value="2011-2015" <?php if(isset($result_user['batch'])) { echo ($result_user['batch'] == '2011-2015') ? "selected" : "";} ?> >2011-2015</option>
                                <option value="2012-2016" <?php if(isset($result_user['batch'])) { echo ($result_user['batch'] == '2012-2016') ? "selected" : "";} ?> >2012-2016</option>
                                <option value="2013-2017" <?php if(isset($result_user['batch'])) { echo ($result_user['batch'] == '2013-2017') ? "selected" : "";} ?> >2013-2017</option>
                                <option value="2014-2018" <?php if(isset($result_user['batch'])) { echo ($result_user['batch'] == '2014-2018') ? "selected" : "";} ?> >2014-2018</option>
                                <option value="2015-2019" <?php if(isset($result_user['batch'])) { echo ($result_user['batch'] == '2015-2019') ? "selected" : "";} ?> >2015-2019</option>
                                <option value="2016-2020" <?php if(isset($result_user['batch'])) { echo ($result_user['batch'] == '2016-2020') ? "selected" : "";} ?> >2016-2020</option>
                                <option value="2017-2021" <?php if(isset($result_user['batch'])) { echo ($result_user['batch'] == '2017-2021') ? "selected" : "";} ?> >2017-2021</option>
                                <option value="2018-2022" <?php if(isset($result_user['batch'])) { echo ($result_user['batch'] == '2018-2022') ? "selected" : "";} ?> >2018-2022</option>
                                <option value="2019-2023" <?php if(isset($result_user['batch'])) { echo ($result_user['batch'] == '2019-2023') ? "selected" : "";} ?> >2019-2023</option>
                                <option value="2020-2024" <?php if(isset($result_user['batch'])) { echo ($result_user['batch'] == '2020-2024') ? "selected" : "";} ?> >2020-2024</option>
                                <option value="2021-2025" <?php if(isset($result_user['batch'])) { echo ($result_user['batch'] == '2021-2025') ? "selected" : "";} ?> >2021-2025</option>
                              </select>
                            </div>
                            <label for="inputEmail3" class="col-sm-2 col-form-label">Branch</label>
                            <div class="col-sm-4">
                              <select class="form-control" name="branch" id="branch">
                                <option value="">-- Select Branch --</option>
                                <option value="CSE" <?php if(isset($result_user['branch'])) { echo ($result_user['branch'] == 'CSE') ? "selected" : "";} ?>>CSE</option>
                                <option value="CIVIL" <?php if(isset($result_user['branch'])) { echo ($result_user['branch'] == 'CIVIL') ? "selected" : "";} ?>>CIVIL</option>
                                <option value="MECH" <?php if(isset($result_user['branch'])) { echo ($result_user['branch'] == 'MECH') ? "selected" : "";} ?>>MECH</option>
                                <option value="ENTC" <?php if(isset($result_user['branch'])) { echo ($result_user['branch'] == 'ENTC') ? "selected" : "";} ?>>ENTC</option>
                                <option value="EEE" <?php if(isset($result_user['branch'])) { echo ($result_user['branch'] == 'EEE') ? "selected" : "";} ?>>EEE</option>
                                <option value="EE" <?php if(isset($result_user['branch'])) { echo ($result_user['branch'] == 'EE') ? "selected" : "";} ?>>EE</option>
                              </select>
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-2 col-form-label">Registration No.</label>
                            <div class="col-sm-4">
                              <input class="form-control" name="regno" id="regno" type="text" value="<?php if(!empty($_GET['editid'])){ echo $result_user['regno']; }?>" required>
                            </div>
                            <label for="inputEmail3" class="col-sm-2 col-form-label">Active Backlog</label>
                            <div class="col-sm-4">
                              <input class="form-control" name="actbacklog" id="actbacklog" type="text" value="<?php if(!empty($_GET['editid'])){ echo $result_user['actbacklog']; }?>" required>
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-2 col-form-label">CGPA</label>
                            <div class="col-sm-4">
                              <input class="form-control" name="cgpa" id="cgpa" type="text" value="<?php if(!empty($_GET['editid'])){ echo $result_user['cgpa']; }?>" required>
                            </div>
                            <label for="inputEmail3" class="col-sm-2 col-form-label">Result</label>
                            <div class="col-sm-4">
                              <input type="radio" value="1" <?php if(isset($result_user['result'])) { echo ($result_user['result'] == '1') ? "checked" : "";} ?> name="result"> Passed 
                              <input type="radio" value="2" <?php if(isset($result_user['result'])) { echo ($result_user['result'] == '2') ? "checked" : "";} ?> name="result"> Result Withheld
                            </div>
                          </div>
                        </div>
                        <div class="text-center">
                          <input type="hidden" name="cspid" id="cspid" value="<?php if(!empty($_GET['editid'])){ echo $result_user['id']; }?>">
                          <input type="submit" <?php if(!empty($_GET['editid'])) { ?> name="btn_update" value="Update" <?php } else { ?> name="btnsave" id="btnsave" value="Save" <?php } ?> class="btn btn-primary">
                        </div>
                        <!-- /.card-footer -->
                      </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>