<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">

    <meta name="author" content="">

    <title>Student Data Verification</title>

    <link rel="stylesheet" href="public/bootstrap/css/bootstrap.min.css">

    <link rel="stylesheet" href="public/admin/css/login.css">



</head>

    <div class="wrapper fadeInDown">

  <div id="formContent">

    <!-- Tabs Titles -->



    <!-- Icon -->

    <div class="fadeIn first" >

      <img style="width: 72% ; padding-top:50px ; " src="public/images/logold.png" id="icon" alt="User Icon" />

      <!-- <h1>ODISHA</h1> -->

    </div>

</br>

<div style="height:20px;margin-bottom:5px; color: green;" class="red_bold_text">

      <?php if(@$succ_msg != "") { ?>

        <?php echo $succ_msg; ?>

      <?php } ?>

    </div>

    

<div style="height:20px;margin-bottom:5px; color: red;" class="red_bold_text">

      <?php if(@$error_msg != "") { ?>

        <?php echo $error_msg; ?>

      <?php } ?>

    </div>

    <!-- Login Form -->

    <form role="form" id="frmlogin" name="frmlogin" method="post">

      <input  type="text" id="loginid" class="fadeIn second" name="email" placeholder="Enter Your Email Id" required>

      <input type="submit" class="fadeIn fourth" name="btn_update" id="btn_update" onClick="return loginval()" value="Submit">

    </form>



    <!-- Remind Passowrd -->

    <!-- <div id="formFooter">

      <a class="underlineHover" href="#">Go to the Site</a>

    </div> -->



  </div>

</div>

  <!-- jQuery -->

<script src="public/jquery/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->

<script src="public/bootstrap/js/bootstrap.min.js"></script>

</body>

</html>

