<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ORGANISATION FOR DEVELOPMENT INTEGRATED SOCIAL AND HEALTH ACTION </title>

    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="public/bootstrap/css/bootstrap.min.css">
    <!-- MetisMenu CSS -->
    <link rel="stylesheet" href="public/admin/metisMenu/metisMenu.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="public/admin/css/sb-admin-2.css">
    <!-- Custom Fonts -->
    <link rel="stylesheet" href="public/admin/font-awesome/css/font-awesome.min.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="public/admin/css/navbar.css">
  </head>
  <body>
    <div id="wrapper">
          <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom:0">
        <!-- /.navbar-header -->
        <!--  -->
         
<div class="col-lg-12 ">
          <div class="navbar-header col-lg-2 col-md-2  margin-tophead  ">
            <button type="button" class="navbar-toggle pull-left" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="dashboard.php"><img class="logoimg" src="public/images/logold.png" style="height: 86px;width: 100px;"></a>
          </div>

          <div class="col-lg-7 col-md-7 margin-tophead">
            <h3 style="color: #00ac47;font-size: 21px;">Student Data Verification</h3>
          </div>

          <div class="col-lg-3 col-md-3 ">
            <ul class="nav navbar-top-links text-right">
            
            <!-- /.dropdown -->
              <li class="dropdown ">
                  <a class="dropdown-toggle header-color d-none d-sm-block" data-toggle="dropdown" href="#">
                      Welcome administration <i class="fa fa-user fa-fw profile-icon"></i> <i class="fa fa-caret-down "></i>
                  </a>
                  <ul class="dropdown-menu dropdown-user">
                      <!-- <li class="divider"></li> -->
                     <li><a href="logout"><i class="fa fa-sign-out fa-fw user-icon"></i> Logout</a>
                      </li>
                  </ul>
                  <!-- /.dropdown-user -->
              </li>
              <!-- /.dropdown -->

            </ul>
      </div>
        <!-- <div class="navbar-header col-lg-4  col-xs-4  ">
            <a href="dashboard.php"><img class="col-md-12" src="../images/logo.png" ></a>
        </div> -->
</div>
<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse collapse " >
        <ul class="nav " id="side-menu">
            <li class="navigation-color ">
            <a class="dashboard-color" href="userchange-password"><i class="fa fa-file-text"></i>Change Password</a>
            </li>
        </ul>
    <!-- /.nav-second-level -->
    </div>
    <!-- /.sidebar-collapse -->
</div>
    </nav>  
        <div id="page-wrapper">
          <div class="row">
            <div class="col-lg-12">
              <h1 class="page-header">Change Password </h1>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="panel panel-default">
                <?php if(@$error_msg != "") { ?>
                    <div style="font-weight: bold; color: red;text-align: center;"><?php echo $error_msg; ?></div>
                  <?php } ?>
                <div class="panel-body" >
                  <div class="form-group">
                      <form  method="post" action="" name="frm_login" id="frm_login" enctype="multipart/form-data">
                        <div class="card-body">
                          <div class="form-group row">
                            <div class="col-sm-3"></div>
                            <label for="inputEmail3" class="col-sm-2 col-form-label">Old Password</label>
                            <div class="col-sm-4">
                             <input class="form-control" placeholder="Enter your Old Password" name="oldpasswrd" id="oldpasswrd" type="password">
                              <span id="oldmsg"></span>
                            <div class="col-sm-3"></div>
                            </div>
                          </div>
                          </div>
                          <div class="form-group row">
                            <div class="col-sm-3"></div>
                            <label for="inputEmail3" class="col-sm-2 col-form-label">New Password</label>
                            <div class="col-sm-4">
                             <input class="form-control" placeholder="Enter your New password" name="newpwd" id="newpwd" type="password">
                              <span id="newmsg"></span>
                            </div>
                            <div class="col-sm-3"></div>
                          </div>
                          <div class="form-group row">
                            <div class="col-sm-3"></div>
                            <label for="inputEmail3" class="col-sm-2 col-form-label">Confirm Password</label>
                            <div class="col-sm-4">
                              <input class="form-control" placeholder="Enter your Confirm password" name="conpwd" id="conpwd" type="password">
                              <span id="conmsg"></span>
                              <span id="matchmsg"></span>
                            </div>
                            <div class="col-sm-3"></div>
                          </div>
                        </div>                        
                        <!-- /.card-body -->
                        <!-- <div class="card-footer">
                          
                          <button type="submit" class="btn btn-info" name="btnsave" id="btnsave">Submit</button>
                          <button type="reset" class="btn btn-default float-right">Reset</button>
                        </div> -->
                        <div class="text-center">
                          <input type="hidden" name="hiddenid" id="hiddenid" value="<?php echo $_SESSION['AD_adminid'];?>"/>
                          <button type="submit" name="btn_submit" class="btn btn-lg btn-sm btn-md btn-success" id="btn_submit" onClick="return matchpwd();">Update</button>
                        </div>
                        <!-- /.card-footer -->
                      </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>