<?php $user_type = $_SESSION['AD_user_type']; ?>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Student Data Verification </title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="public/bootstrap/css/bootstrap.min.css">
    <!-- MetisMenu CSS -->
    <link rel="stylesheet" href="public/admin/metisMenu/metisMenu.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="public/admin/css/sb-admin-2.css">
    <!-- Custom Fonts -->
    <link rel="stylesheet" href="public/admin/font-awesome/css/font-awesome.min.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="public/admin/css/navbar.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap.min.css">
  </head>
  <body>
    <div id="wrapper">
          <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom:0">
        <!-- /.navbar-header -->
        <!--  -->
<div class="col-lg-12 ">
          <div class="navbar-header col-lg-2 col-md-2  margin-tophead  ">
            <button type="button" class="navbar-toggle pull-left" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="dashboard.php"><img class="logoimg" src="public/images/logold.png" style="height: 70px;width:300px;"></a>
          </div>
          <div class="col-lg-7 col-md-7 margin-tophead" style="align:center">
          </div>
          <div class="col-lg-3 col-md-3 ">
            <ul class="nav navbar-top-links text-right">
            <!-- /.dropdown -->
              <li class="dropdown ">
                  <a class="dropdown-toggle header-color d-none d-sm-block" data-toggle="dropdown" href="#">
                      Welcome <?php echo ($_SESSION['AD_user_name']); ?> <i class="fa fa-user fa-fw profile-icon"></i> <i class="fa fa-caret-down "></i>
                  </a>
                  <ul class="dropdown-menu dropdown-user">
                      <!-- <li class="divider"></li> -->

                     <li><a href="logout"><i class="fa fa-sign-out fa-fw user-icon"></i> Logout</a>
                      </li>
                  </ul>
                  <!-- /.dropdown-user -->
              </li>
              <!-- /.dropdown -->
            </ul>
      </div>
</div>
<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse collapse " >
        <ul class="nav " id="side-menu">
            <li class="navigation-color"><a class="dashboard-color" href="dashboard"><i class="glyphicon glyphicon-book"></i> Dashboard</a></li>
           <?php if($user_type=='1') { ?>
            <li class="navigation-color">
              <a class="dashboard-color" href="manage-user"><i class="fa fa-file-text"></i>Manage Faculty</a>
            </li>
            <li class="navigation-color">
              <a class="dashboard-color" href="manage-student"><i class="fa fa-file-text"></i>Manage Student</a>
            </li>
            <?php } ?>  
            <li class="navigation-color ">
            <a class="dashboard-color" href="change-password"><i class="fa fa-file-text"></i>Change Password</a>
            </li>
        </ul>
    <!-- /.nav-second-level -->
    </div>
    <!-- /.sidebar-collapse -->
</div>
        <!-- /.navbar-top-links -->
        <!-- /.navbar-static-side -->
    </nav> 
        <?php 
              if(!empty($succ_msg))
                {
              ?>
                <div class="alert alert-block alert-success text-center">
                  <button type="button" class="close" data-dismiss="alert">
                    <i class="ace-icon fa fa-times"></i>
                  </button>
                  <i class="ace-icon fa fa-check green"></i>
                  <strong class="green"><?php echo $succ_msg; ?></strong>
                </div>
              <?php
                }
                if(!empty($error_msg))
                {
              ?>
                <div class="alert alert-danger text-center">
                  <button type="button" class="close" data-dismiss="alert">
                    <i class="ace-icon fa fa-times"></i>
                  </button>
                  <strong>
                    <i class="ace-icon fa fa-times"></i>
                    <?php echo $error_msg; ?>
                  </strong>
                </div>
              <?php
                }
              ?> 