<script src="public/jquery/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="public/bootstrap/js/bootstrap.min.js"></script>
        <!-- Metis Menu Plugin JavaScript -->
        <script src="public/admin/metisMenu/metisMenu.min.js"></script>
        <!-- Custom Theme JavaScript -->
        <script src="public/admin/js/sb-admin-2.js"></script>
        <script src="public/user/dist/js/otherjquery.js"></script>
        <script src="public/user/dist/js/canvasjs.min.js"></script>
        <!-- Page-Level Demo Scripts - Tables - Use for reference -->
  <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
        <!-- Page-Level Demo Scripts - Tables - Use for reference -->
         <script type="text/javascript">
            $(document).ready(function() {
            $('#example').DataTable( {
            } );
            setTimeout(function() {  
            $('.alert-success').fadeOut('fast');
            }, 10000);
            setTimeout(function() {  
            $('.alert-danger').fadeOut('fast');
            }, 10000);
        } );

            $(document).on('keyup', '.numeric', function() {
            var v = this.value;
            if($.isNumeric(v) === false) {
                this.value = this.value.slice(0,-1);
            }
            });

        function matchpwd() {
           if ($.trim($('#oldpasswrd').val()) == "") {
               $('#oldpasswrd').focus();
               return false;
           }
           if ($.trim($('#newpwd').val()) == "") {
               $('#newpwd').focus();
               return false;
           }
           if ($.trim($('#conpwd').val()) == "") {
               $('#conpwd').focus();
               return false;
           }
           if ($.trim($('#newpwd').val()) != $.trim($('#conpwd').val())) {
            alert("Confirm password should be matched with new password")
               $('#conpwd').focus();
               return false;
           }
       }
        
        
        // function openInNewTab(url) {
        //   var win = window.open(url, '_blank');
        //   win.focus();
        // }
        
      </script>
<script>
var chart1 = new CanvasJS.Chart("chartContainer1",{
    data: [{
  type: "pie",
        dataPoints : [
      { label: "Student Passed",  y: <?php echo ($stdpass); ?>  },
      { label: "Student Placed",  y: <?php echo ($stdplaced); ?>  }
  ]
    }]
});
var chart2 = new CanvasJS.Chart("chartContainer2",{
    
    data: [{
  type: "spline",
  dataPoints : [
  <?php while($res_stdcamp = $query_stdcamp->fetch_object()) { ?>
      { label: <?php echo $res_stdcamp->year_wise ?>,  y: <?php echo $res_stdcamp->student_placed ?>  },
      <?php  } ?>
      
  ]
    }]
});
 
chart1.render();
chart2.render();
</script>

   </body>

</html>